JIOServer.pro.user*
android/res/*

clients/JIO_MSX-DOS/drv_jio.r01

clients/JIO_MSX-DOS/drv_jio_c.as

clients/JIO_MSX-DOS/jio_dos1.rom

clients/JIO_MSX-DOS/jio_dos1_64k.rom

clients/JIO_MSX-DOS/jio_dos1_64k_NMS_8220.rom

clients/JIO_MSX-DOS/jio_dos2.rom

clients/JIO_MSX-DOS/jio_dos2_64k.rom

clients/JIO_MSX-DOS/jio_dos2_64k_NMS_8220.rom

clients/JIO_MSX-DOS/obj/dos1x.lis

clients/JIO_MSX-DOS/obj/dos1x.o

clients/JIO_MSX-DOS/obj/drv_jio.lis

clients/JIO_MSX-DOS/obj/drv_jio.o

clients/JIO_MSX-DOS/obj/jio_dos1.bin

clients/JIO_MSX-DOS/obj/jio_dos1.map

clients/JIO_MSX-DOS/obj/jio_dos1__.bin

clients/JIO_MSX-DOS/rdate.inc

clients/JIO_NFS/Tmp/disk.dsk

clients/JIO_NFS/Tmp/driver

clients/JIO_NFS/Tmp/driver.c.asm

clients/JIO_NFS/Tmp/driver.h

clients/JIO_NFS/Tmp/driver.reloc

clients/JIO_NFS/Tmp/driver.sym

clients/JIO_NFS/Tmp/JIO.COM

clients/JIO_NFS/Tmp/jumper

clients/JIO_NFS/Tmp/jumper.reloc

clients/JIO_NFS/Tmp/main.c.asm
